@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');

html,
body {
  margin: 0;
  font-family: 'EB Garamond', sans-serif;
}

h3 {
  font-size: 2rem;
}

/* NAVBAR */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  border: solid 2px black;
}

header img {
    max-width: 200px;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

nav li {
    font-size: 1.25rem;
    width: 150px; 
    text-align: center; 
}

nav a {
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    height: 100px;
}

nav .dropdown {
  display: none; /* Hide the dropdown by default */
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav li:hover .dropdown {
  display: block; 
}

nav a:hover {
  background-color: rgb(105, 150, 105);
}

nav li a.active {
  text-decoration: underline;
}

/* Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  margin-top: 2%;
  margin-bottom: 7%;
}
  
.container2 {
  width: 80%;
  max-width: 800px; /* Added max-width for better responsiveness */
  margin: 2% auto;
  text-align: center; /* Center text within the container */
}

/* About Section */
.description {
  width: 45%;
  padding-left: 3%;
}

.container article {
  width: 45%;
}

.description h3 {
  font-size: 3rem;
  text-align: center;
}

article img {
  border-radius: 20%;
}

.description p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Resume & Connect Pages */

.container2 h3 {
  margin-bottom: 20px;
}

.personal_info,
form {
  text-align: center;
}

.personal_info p {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

/* View Resume Button */
.view_resume {
  background-color: rgb(19, 154, 78);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.view_resume a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

/* Connect form */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #323c32;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 0 10px grey
}

label {
  display: block;
  font-size: 1.2rem;
  margin-top: 10px;
  color: whitesmoke;
}

input {
  font-size: 1rem;
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
}

input[type="submit"] {
  display: block;
  background-color: #f8f7f3; /* Button background color */
  color: black;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.5s ease; /* Smooth transition */
}

input[type="submit"]:hover {
  background-color: #d0c8ba; /* Hover background color */
}

/* ------------------------------------------------------------------------------------------- */
/* FOOTER */
footer {
  background-color: rgb(62, 62, 62);
  color: whitesmoke;
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
  padding: 1%;
}

.social_links {
  display: flex;  
  justify-content: center;
}

.social_links p {
  color: whitesmoke;
  font-size: 1.1rem;
  padding: 0 2%;
}

.fa-phone {
  font-size: 1.5rem;
  color: #48e963;
}

.fa-envelope {
  font-size: 1.5rem;
  color: #fedd03;

}
.fa-linkedin {
  font-size: 2rem;
  color: #0b65c2; 
}


/* ------------------------------------------------------------------------------------------- */
/* Media Queries */

/* For phone */

@media screen and (max-width: 767px) {
  .container {
    margin-top: 80px; /* Add a top margin to push the container down */
  }

  .container article,
  .description,
  .container2 {
    width: 80%;
    margin: 0 auto;
  }

  article img {
    margin: 20px 0; /* margin top */
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav li {
    text-align: center;
    padding: 10px;
    width: 25%;
  }

  /* Connect page */
  form {
    width: 100%;
  }
}


